* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 22.5px;
}

.pads {
    /* background: lightblue; */
    width: 100%;
    display: flex;
}

/* Select all the divs inside the pads */

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: #60d394;
    border-top-left-radius: 5px;
}

.pad2 {
    background: #282928;
}

.pad3 {
    background: #c060d3;
}

.pad4 {
    background: #d3d160;
}

.pad5 {
    background: #6860d3;
}

.pad6 {
    background: #60b2d3;
    border-top-right-radius: 5px;
}

.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
  }  

@keyframes jump {
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}

html{
    background-color: rgb(196, 82, 82);
}

